<!DOCTYPE html>
<html>
  <% include partial/header.ejs %>
  <body>
    <div class="home">
      <%include partial/logo.ejs%>
      <h1>Welcome To App School</h1>
    </div>
  <% include partial/menu.ejs %>
  </body>
</html>
