<!DOCTYPE html>
<html>
  <% include partial/header.ejs %>
  <body>
    <%include partial/logo.ejs%>
    <% include partial/menu.ejs %>
    <br>
    <div class="home">
      <h1>Welcome To School App <%=user.username%></h1>
      <p>Role - <%=user.role%></p>
    </div>
  </body>
</html>
