<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %> | School App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a>
    <a href="/student">Student</a>
    <%- body %>
  </body>
</html>
