<h1><%= title %></h1>
<p style="color:red"><%= alert %></p>
<br>
<form action="/student/add" method="post">
  <input type="text" name="first_name" placeholder="First Name"><br>
  <input type="text" name="last_name" placeholder="Last Name"><br>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="submit" value="Add Student">
</form>
<a href="/student">Back</a>
