<!DOCTYPE html>
<html>
  <head>
    <% include partial/header.ejs %>
  </head>
  <body>
    <% include partial/logo.ejs %>
    <% include partial/menu.ejs %>
    <br>
    <p style="color:red; text-align:center;"><%= alert %></p>
    <form class="form" action="/teacher/add" method="post">
      <input type="text" name="first_name" placeholder="First Name"><br>
      <input type="text" name="last_name" placeholder="Last Name"><br>
      <input type="text" name="email" placeholder="Email"><br>
      <input class="btn" type="submit" value="Add Teacher">
    </form>
  </body>
</html>
