<header>
  <p class="title"><%=title%></p>
  <div class="menu">
    <%if(role == 'headmaster' || role == 'academic' || role == 'teacher'){%>
      <a class="m1" href="/">Home</a>
    <%}%>
    <%if(role == 'headmaster'){%>
      <a class="m2" href="/teacher">Teacher</a>
    <%}%>
    <%if(role == 'headmaster' || role == 'academic'){%>
      <a class="m3" href="/subject">Subject</a>
    <%}%>
    <%if(role == 'headmaster' || role == 'academic' || role == 'teacher'){%>
      <a class="m4" href="/student">Student</a>
    <%}%>
      <div class="dropdown">
        <button class="dropbtn">Add New</button>
        <div class="dropdown-content">
          <%if(role == 'headmaster'){%>
            <a href="/user/add">User</a>
            <a href="/teacher/add">Teacher</a>
          <%}%>
          <%if(role == 'headmaster' || role == 'academic'){%>
            <a href="/subject/add">Subject</a>
          <%}%>
          <%if(role == 'headmaster' || role == 'academic' || role == 'teacher'){%>
            <a href="/student/add">Student</a>
          <%}%>
        </div>
      </div>
    <a class="m5" href="/logout">Logout</a>
  </div>
</header>
